body {
    background-color: black;
    color: white;
}

main {
    width: 55%;
    text-align: center;
    margin: auto;
    border: 0.2vw solid rgba(3, 252, 49, 0.671);
    padding: 5%;
    border-radius: 10px;
}

header {
    text-align: center;
    box-shadow: 1vw 1vw 1.5vw rgba(3, 252, 48, 1.0) inset;
    width: 25%;
    margin: auto;
    border-radius: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 5%;
}

h1 {
    font-size: 3vw;
}

.rechts {
    text-align: right;
}

.links {
    text-align: left;
}

a {
    color: white;
    text-decoration: none;
}


